body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
  }
  .app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .report-filter {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #chartsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1{ 
    font-size: 2rem;
  }