/* src/App.css */

:root {
  --primary-color: #A8D5BA; /* Verde Limão */
  --secondary-color: #2A5D34; /* Verde Escuro */
  --background-color: #FFFFFF; /* Branco */
  --light-gray: #F2F2F2; /* Cinza Claro */
}

/* Exemplo de como usar as variáveis */
body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

/* src/App.css */

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color); 
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  opacity: 1;
}

@media (max-width: 768px) {
  .example-class {
      font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
  }
}
